
@{
    ViewData["Title"] = "Index";
}
<h3>@ViewData["Name"]</h3>
<div>The time is @ViewData["Time"] on @ViewData["Date"]</div>
<div>There are @ViewData["daysLeft"] more days in @ViewData["Year"]</div>
<p></p>